/* General */
html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
}
body {
  margin-top: 0;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2 {
  color: #008dd2;
  margin-bottom: -0.5rem;
}
h2 {
  margin-top: 0.5rem;
}
.box h2 {
  margin-top: 0;
}
h1,
h2,
p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  hyphens: auto;
}
p.intermezzo {
  color: #008dd2;
}
a:link,
a:active,
a:visited,
a:hover {
  color: #00519a;
}
code {
  color: #008dd2;
}
img {
  max-width: 100%;
}

/* Tables */
table {
  text-align: right;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.3rem;
  background-color: #eee;
}
thead {
  font-weight: bold;
}
tbody tr {
  vertical-align: top;
}
tbody tr:nth-child(6n + 4),
tbody tr:nth-child(6n + 5),
tbody tr:nth-child(6n + 6) {
  background-color: rgba(0, 141, 210, 0.2);
}
table td:nth-child(even) {
  color: #008dd2;
  background-color: rgba(255, 255, 255, 0.2);
}
dt {
  font-weight: bold;
  color: #008dd2;
}

/* Box */
.box {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  background-color: #d0f0ff;
  border: solid #008dd2 2px;
}
.box p {
  margin-bottom: 0.5rem;
}
.box p:first-child {
  margin-top: 0;
}
.box img {
  width: 100%;
}
.box pre {
  margin: 0.5rem;
  margin-top: 0;
}

/* Header */
ul.header {
  background-color: #005079;
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.header li {
  flex: 1 1 auto;
  border-right: 1px solid #bbb;
}
ul.header img {
  margin-left: 0.5rem;
  margin-top: -1.5em;
  margin-bottom: -0.5em;
  padding-right: 0.5em;
  height: 2.5em;
}
ul.header li a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  overflow-y: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0;
  height: 3em;
  line-height: 3em;
}
ul.header li a.active {
  background-color: #008dd2;
}
body ul.header li a:hover {
  background-color: #00334c;
}
